<%= simple_form_for @author do |f| %>
  <%= f.error_notification %>
  <%= f.input :name, required: true, autofocus: true %>
  <%= f.input :surname, required: true %>
  <%= f.input :desc, required: true, label: "Description" %>
  <%= f.button :submit, class: "btn-primary btn-sm" %>
<% end %>
