<%= simple_form_for @book do |f| %>
  <%= f.error_notification message: 'Something went wrong' %>
  <%= f.input :title, required: true, autofocus: true %>
  <%= f.input :authors, collection: @authors, input_html: { multiple: true }, required: true  %>
  <%= f.input :categories, collection: @categories, input_html: { multiple: true }, required: true %>
  <%= f.input :desc, required: true %>
  <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
  <%= f.file_field :pictures, multiple: true, class: "btn-primary btn-sm" %><br>
  <%= f.button :submit, class: "btn-primary btn-sm" %>
<% end %>
