<div class="row">
<h4>All books</h4>
<!-- <p>Select category:
  <% @categories.each do |category| %>
    <% if category == @categories.last %>
      <%= link_to category.name, category_path(category.id) %>.
    <% else %>
      <%= link_to category.name, category_path(category.id) %>,
    <% end %>
  <% end %>
</p> -->
<% @books.each do |book| %>
<div class="col-md-6">
  <div class="col-md-4">
    <%= image_tag book.pictures[0].url(:some)%>
  </div>
  <div class="col-md-6">
    <%= link_to book.title, book_path(book.id)  %><br>
    <i><%= h truncate(book.desc, :length => 50) %></i><br>
    <%= book.user.name %><br>
    (<%= book.rate %>, <%= book.reviews.count %> reviewers)<br>
    <%= book.pictures.count %> photos
  </div>
</div>
<% end %>
  <br clear="all">
  <div class="col-md-5 col-md-offset-3">
    <p align="center">
      <%= will_paginate @books, renderer: BootstrapPagination::Rails %>
    </p>
  </div>
</div>
