<h3><%= @book.title %></h3>

<div class="row">
  <div class="col-md-2">
    <%= image_tag @pictures[0].url(:some) %>
  </div>

  <div class="col-md-10">
  <p>Description</p>
    <%= @book.desc %>
  </div>

  <div class="col-md-10">
    <% @pictures.each do |pic| %>

      <div class="col-md-3">
      <br>
        <%= image_tag pic.url(:thumb) %>
      </div>
    <% end %>
  </div>
  <br clear="all">
  <hr>
  <h4><strong><i>Information</i></strong></h4>

  <p><strong>Author:</strong>
    <% @book.authors.each do |author| %>
      <% if @book.authors.last == author %>
        <%= author.name %> <%= author.surname %>.
      <% else %>
        <%= author.name %> <%= author.surname %>,
      <% end %>
    <% end %>
  </p>

  <p><strong>Category:</strong>
    <% @book.categories.each do |category| %>
      <% if @book.categories.last == category %>
        <%= category.name %>.
      <% else %>
        <%= category.name %>,
      <% end %>
    <% end %>
  </p>

  <p><strong>Book rating:</strong>
    <% if @book.rate == 0 %>
      <i>Rate nill</i>
    <% else %>
      <%= @book.rate %>
    <% end %>
  </p>

  <p>
    <strong>Author rating:</strong>

  </p>

  <p>
    <strong>Added by:</strong>
    <%= @book.user.name %>
    <i><%= @book.updated_at.to_formatted_s(:long_ordinal) %></i>
  </p>

  <hr>
  <h4><strong><i>Reviews</i></strong></h4>
  <% if @reviews.count == 0 %>
    <strong><i>No reviews yet</i></strong>
  <% else %>
    <% @reviews.each do |review| %>
      <p>On <%= review.updated_at.to_formatted_s(:long_ordinal) %>, <%= review.user.name %> said:<br>
      <%= review.body %><br>
      Book rating: <%= review.rate %><br>
      <% if review.user == current_user %>
        <% if can? :destroy, Review %>
          <span title="Delete review">
            <%= link_to '', review_path(review), method: :delete, class: "btn btn-danger btn-sm glyphicon glyphicon-remove", remote: true %>
          </span>
        <% end %>
      <% end %>
      </p>
    <% end %>
  <% end %>
  <% if can? :create, Review %>
  <% unless @reviews.where(user_id: current_user.id).count != 0 %>
      <h2 class="btn btn-info btn-block" href="#review" data-toggle="collapse">Add review</h2><br clear="all">
      <div id="review" class="collapse in">
        <%= render '/reviews/form' %>
      </div>
  <% end %>
  <% end %>
</div>
