<%= simple_form_for @review do |f| %>
  <%= f.error_notification %>
  <%= f.input :body, label: "Review", required: true, autofocus: true %>
  Rating: <%= f.select :rate, [1, 2, 3, 4, 5] %>
  <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
  <%= f.input :book_id, :as => :hidden, :input_html => { :value => @book.id } %>
  <%= f.button :submit, class: "btn-primary btn-sm" %>
<% end %>
