<!DOCTYPE html>
<html>
  <head>
    <title>FinishApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>

    <nav id="top_nav" class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="navbar-nav navbar-right">
            <% if user_signed_in? %>
              <ul>
              <p class="navbar-text">

                <strong><%= link_to "Привет, #{current_user.name}", edit_user_registration_path(current_user), class: 'navbar-link' %></strong> |
                <%= link_to "Add new book", new_book_path %> |
                <%= link_to "Add new author", new_author_path %>
              </p>
              <% if current_user.admin? %>
                <ul class="nav navbar-nav">
                  <li>
                    <li><%= link_to 'Перейти на административную панель', admin_dashboard_path %></li>
                  </li>
                </ul>
              <% end %>
                <%= link_to 'Выход', destroy_user_session_path, method: :delete,  class: 'btn btn-primary navbar-btn'%>
              </ul>
              <% else %>
               <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary navbar-btn' %> |
               <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary navbar-btn' %>
            <% end %>
          </ul>
          <a class="navbar-brand" href="/">Library</a>
        </div>
      </nav>


    <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> col-md-8 col-md-offset-2">
        <p align="center"><%= value %></p>
      </div>
      <br clear="all">
    <% end %>
      <%= yield %>
    </div>
  </body>
</html>
